<div id="root">
  <div class="layout undefined">
    <div class="content" style="max-width: 375px;">
      <div class="stacks stacks-body-wrap" style="opacity: 1;">
        <!-- <div class="screen screen-stack">
          <div class="screen-stack screen-stack-wrap"> -->
        <div class="content-screen-stack" style="transform:
          translateX(-187.5px); padding-bottom: 56px; padding-top:
          0px;">
          <div class="logged"><img class="image-header-top"
              src="https://vaydaiphat.com/images/f511339aa2cbfaed5dcec30cce5357dc-HeaderProfile.svg" alt=""
              style="width: 100%; max-height: 168px;">
            <div class="menu-list pointer">
              <div><img src="https://vaydaiphat.com/images/d64ca6d6e40bc30baf1f2014485a8433-AvatarMyInfo.svg"
                  alt=""><span class="mh-8 fw-500 fs-14">Thông tin của
                  tôi</span></div><img src="https://vaydaiphat.com/images/0f6072a6d2757261a16bb56b1920ed15-IconNext.svg"
                alt="">
            </div>
            <div class="menu-list pointer">
              <div><img src="https://vaydaiphat.com/images/fc53ed8f71735f07e42edb8abba3f911-AvatarMyDebt.svg"
                  alt=""><span class="mh-8 fw-500 fs-14">Khoản vay của
                  tôi</span></div><img src="https://vaydaiphat.com/images/0f6072a6d2757261a16bb56b1920ed15-IconNext.svg"
                alt="">
            </div>
            <div class="menu-list pointer">
              <div><img src="https://vaydaiphat.com/images/b7dcd612e43894f567a8db53d81206b0-AvatarMyPay.svg"
                  alt=""><span class="mh-8 fw-500 fs-14">Trả nợ của tôi</span></div><img
                src="https://vaydaiphat.com/images/0f6072a6d2757261a16bb56b1920ed15-IconNext.svg" alt="">
            </div>
            <div class="menu-list pointer">
              <div><img src="https://vaydaiphat.com/images/96fe9ebf6b6c595e30525f2fd0ac7e50-AvatarSupport.svg"
                  alt=""><span class="mh-8 fw-500 fs-14">CSKH</span></div><img
                src="https://vaydaiphat.com/images/0f6072a6d2757261a16bb56b1920ed15-IconNext.svg" alt="">
            </div>
            <div class="menu-list pointer">
              <div><img src="https://vaydaiphat.com/images/2506babc266025fb12a1cb84c355750f-AvatarChangePassword.svg"
                  alt=""><span class="mh-8 fw-500 fs-14">Đổi mật khẩu</span></div><img
                src="https://vaydaiphat.com/images/0f6072a6d2757261a16bb56b1920ed15-IconNext.svg" alt="">
            </div>
            <div class="button-custom mt-24"><button type="button" class="ant-btn ant-btn-primary
                ant-btn-background-ghost"><span>Đăng xuất</span></button></div>
          </div>
        </div>
        <div class="bottom-bar">
          <div class="animation-screen-stack-content">
            <div class="animation-screen-stack-content" style="max-width:
              375px; transform: translateX(-187.5px);">
              <div class="bottom-bar-content">
                <div class="item-bottom-bar" style="width: 93.75px;">
                  <div style="text-align:
                    center;"><svg width="24" height="24" viewBox="0 0 24
                      24" fill="#828282" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_119_11837)">
                        <path d="M12
                          14.9927C10.3432 14.9927 9 16.3358 9
                          17.9927V23.9927H15V17.9927C15 16.3358 13.6568
                          14.9927 12 14.9927Z"></path>
                        <path d="M17
                          17.9926V23.9926H21C22.6568 23.9926 24 22.6495
                          24 20.9926V11.8716C24.0002 11.3521 23.7983
                          10.8529 23.437 10.4796L14.939 1.29261C13.4396
                          -0.329735 10.9089 -0.429344 9.28655
                          1.07009C9.20949 1.14134 9.13523 1.21555
                          9.06403 1.29261L0.581016 10.4766C0.208734
                          10.8515 -0.000140554 11.3584 7.09607e-08
                          11.8866V20.9926C7.09607e-08 22.6495 1.34316
                          23.9926 3 23.9926H6.99998V17.9926C7.01869
                          15.2658 9.22027 13.0391 11.8784
                          12.9749C14.6255 12.9087 16.9791 15.1733 17
                          17.9926Z"></path>
                        <path d="M12 14.9927C10.3432
                          14.9927 9 16.3358 9
                          17.9927V23.9927H15V17.9927C15 16.3358 13.6568
                          14.9927 12 14.9927Z"></path>
                      </g>
                      <defs>
                        <clipPath id="clip0_119_11837">
                          <rect width="24" height="24" fill="white"></rect>
                        </clipPath>
                      </defs>
                    </svg></div>
                  <div class="title-bottom-bar" style="text-align: center;
                    font-size: 14px; color: rgb(130, 130, 130);">Trang
                    chủ</div>
                </div>
                <div class="item-bottom-bar" style="width: 93.75px;">
                  <div style="text-align:
                    center;"><svg width="24" height="24" viewBox="0 0 20
                      24" fill="#828282" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.22546 12.6839H4.8864C3.29096 10.6175
                        3.29111 7.31565 4.88645 5.24944H3.41352C6.23841
                        0.107833 13.7746 0.111353 16.598
                        5.24944H15.1249C16.7204 7.31579 16.7203 10.6177
                        15.1249 12.6839H16.7858C18.0047 12.6839 18.9963
                        11.6922 18.9963 10.4734V7.45998C18.9963 6.94919
                        18.8217 6.4787 18.5297 6.10394C15.7107 -2.02763
                        4.31086 -2.04171 1.48147 6.10408C1.18952 6.4788
                        1.01492 6.94924 1.01492 7.45994V10.4734C1.01492
                        11.6922 2.00657 12.6839 3.22546 12.6839Z"></path>
                      <path d="M19.9184 21.8705C19.0622 17.9347 15.4671
                        13.8887 10.0054 13.8882C4.7658 13.8882 1.00205
                        17.702 0.0837927 21.859C-0.150911 22.9624
                        0.69237 24.0004 1.81742 24C5.35904 24 14.767 24
                        18.1934 23.989C19.31 23.989 20.1445 22.9641
                        19.9184 21.8705Z"></path>
                      <path d="M11.5123
                        10.5229H14.6749C15.7645 7.42668 13.3024 3.98529
                        10.0056 4.04521C7.29185 4.04516 5.08408 6.25293
                        5.08408 8.96666C5.09426 13.6859 11.1368 15.655
                        13.932 11.9306H11.5123C10.5799 11.8961 10.5799
                        10.5573 11.5123 10.5229Z"></path>
                    </svg></div>
                  <div class="title-bottom-bar" style="text-align: center;
                    font-size: 14px; color: rgb(130, 130, 130);">Hỗ trợ</div>
                </div>
                <div class="item-bottom-bar" style="width: 93.75px;">
                  <div style="text-align: center;"><svg width="24" height="24" viewBox="0 0 16 16" fill="#828282"
                      xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_726_5123)">
                        <path d="M3.73894 3.24421L10.1174 1.50317L9.77959
                          0.820403C9.55859 0.376608 9.01957 0.19334
                          8.57577 0.414339L2.86572 3.24421H3.73894Z"></path>
                        <path d="M12.0974 1.55347C12.0183 1.55347 11.9392
                          1.56425 11.8602 1.58581L10.3617 1.99547L5.7854
                          3.2442H10.9798H13.2437L12.9634 2.21647C12.8556
                          1.81579 12.4926 1.55347 12.0974 1.55347Z"></path>
                        <path d="M14.1799
                          3.87305H13.9751H13.6966H13.4181H11.2925H3.48209H2.45795H1.59551H1.4356H0.900168C0.616283
                          3.87305 0.362942 4.00421 0.197642
                          4.21083C0.122179 4.30606 0.0646828 4.41566
                          0.0323414 4.53605C0.0125772 4.61151 0 4.69057
                          0 4.77142V4.87922V5.90337V14.7811C0 15.277
                          0.402471 15.6794 0.898372
                          15.6794H14.1781C14.674 15.6794 15.0765 15.277
                          15.0765 14.7811V12.2746H9.74554C8.90286
                          12.2746 8.2183 11.5901 8.2183
                          10.7474V9.92448V9.64598V9.36749V8.74941C8.2183
                          8.33616 8.38359 7.96066 8.65132
                          7.68575C8.88849 7.44138 9.20651 7.27608
                          9.56227 7.23475C9.62156 7.22759 9.68265
                          7.22397 9.74374
                          7.22397H14.329H14.6075H14.886H15.0765V4.77142C15.0783
                          4.27552 14.6758 3.87305 14.1799 3.87305Z"></path>
                        <path d="M15.7071 8.08283C15.6173 8.00018 15.5113
                          7.93729 15.3927 7.89597C15.3011 7.86544 15.204
                          7.84747 15.1016
                          7.84747H15.0783H15.0603H14.7818H13.7774H9.74554C9.24962
                          7.84747 8.84717 8.24993 8.84717
                          8.74584V9.19322V9.47171V9.75021V10.7456C8.84717
                          11.2415 9.24962 11.644 9.74554
                          11.644H15.0783H15.1016C15.204 11.644 15.3011
                          11.626 15.3927 11.5955C15.5113 11.5559 15.6173
                          11.4913 15.7071 11.4086C15.8868 11.2451 16
                          11.0079 16 10.7456V8.74584C16 8.4835 15.8868
                          8.24631 15.7071 8.08283ZM11.6213
                          9.92449C11.6213 10.1724 11.4201 10.3737
                          11.1722 10.3737H10.8739C10.6259 10.3737
                          10.4247 10.1724 10.4247
                          9.92449V9.62623C10.4247 9.48249 10.4912
                          9.35491 10.5972 9.27405C10.6745 9.21476
                          10.7697 9.17705 10.8739
                          9.17705H10.9494H11.1722C11.4201 9.17705
                          11.6213 9.37826 11.6213 9.62623V9.92449Z"></path>
                      </g>
                      <defs>
                        <clipPath id="clip0_726_5123">
                          <rect width="16" height="16" fill="white"></rect>
                        </clipPath>
                      </defs>
                    </svg></div>
                  <div class="title-bottom-bar" style="text-align: center;
                    font-size: 14px; color: rgb(130, 130, 130);">Ví tiền</div>
                </div>
                <div class="item-bottom-bar" style="width: 93.75px;">
                  <div style="text-align: center;"><svg width="24" height="24" viewBox="0 0 24 24" fill="#046DB5"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M12
                        12C15.3137 12 18 9.31371 18 6C18 2.68629 15.3137
                        0 12 0C8.68629 0 6 2.68629 6 6C6 9.31371 8.68629
                        12 12 12Z"></path>
                      <path d="M12 14C7.03172
                        14.0055 3.00553 18.0317 3 23C3 23.5523 3.4477 24
                        3.99998 24H20C20.5522 24 21 23.5523 21
                        23C20.9945 18.0317 16.9683 14.0055 12 14Z"></path>
                    </svg></div>
                  <div class="title-bottom-bar" style="text-align: center;
                    font-size: 14px; color: rgb(4, 109, 181);">Hồ sơ</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <div class="screen screen-stack">
        </div>
        <div class="screen-stack
          screen-stack-wrap">
          <div class="animation-screen-stack" style="opacity: 1;">
            <div class="animation-screen-stack-content" style="max-width:
              375px;">
              <div class="swapHeader" style="opacity: 1;">
                <div class="header " style="background-color: rgb(4, 109,
                  181);">
                  <div class="button-back-left undefined">
                    <div class="content-back" routerLink="/home"><svg width="26" height="24" viewBox="0 0 26 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.92
                          18L9.67998 12L15.92 6" stroke="#fff" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg><span class="title-back">Hồ sơ</span></div>
                  </div>
                  <div class="header-title "  style="left: 115.602px; top:
                    16px; max-width: 222.75px;">Quay lại</div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-screen-stack" style="transform:
            translateX(-187.5px); padding-bottom: 0px; padding-top:
            54px;">
            <div class="d-grid h-100">
              <div class="profile">
                <div class="children-content">
                  <div class="children-content-icon"><img
                      src="https://vaydaiphat.com/images/40c78f2965f0b680028a8e6defd6decd-id_cccd.svg" alt=""></div>
                  <div class="children-content-info">
                    <div class="children-content-title"><span>Thông tin
                        CMND/CCCD <span style="color: rgb(4, 109, 181);">*</span></span>
                      <div class="children-content-status">Chưa hoàn thành</div>
                    </div>
                    <div class="children-content-description">Cho tôi biết
                      tình hình hiện tại</div>
                  </div>
                </div>
                <div class="children-content">
                  <div class="children-content-icon"><img
                      src="https://vaydaiphat.com/images/b52c97d152e153c99947a3f7d6274883-profile.svg" alt=""></div>
                  <div class="children-content-info">
                    <div class="children-content-title"><span>Thông tin cá
                        nhân <span style="color: rgb(4, 109, 181);">*</span></span>
                      <div class="children-content-status">Chưa hoàn thành</div>
                    </div>
                    <div class="children-content-description">Cho tôi biết
                      tình hình hiện tại</div>
                  </div>
                </div>
                <div class="children-content">
                  <div class="children-content-icon"><img
                      src="https://vaydaiphat.com/images/b95e49ed944edd879884f5894ceca947-creditcard.svg" alt="">
                  </div>
                  <div class="children-content-info">
                    <div class="children-content-title"><span>Nhập thẻ ngân
                        hàng <span style="color: rgb(4, 109, 181);">*</span></span>
                      <div class="children-content-status">Chưa hoàn thành</div>
                    </div>
                    <div class="children-content-description">Thông tin tài
                      khoản vay</div>
                  </div>
                </div>
                <div class="children-content">
                  <div class="children-content-icon"><img
                      src="https://vaydaiphat.com/images/8ecd60267b65149ba4856cc3d1a44b32-signature.svg" alt=""></div>
                  <div class="children-content-info">
                    <div class="children-content-title"><span>Chữ ký viết tay
                        <span style="color: rgb(4, 109, 181);">*</span></span>
                      <div class="children-content-status">Chưa hoàn thành</div>
                    </div>
                    <div class="children-content-description">Ký tên trước
                      khi vay</div>
                  </div>
                </div>
                <div class="children-content">
                  <div class="children-content-icon"><img
                      src="https://vaydaiphat.com/images/182a55d88bc784c9413ace24002c74d8-camera.svg" alt=""></div>
                  <div class="children-content-info">
                    <div class="children-content-title"><span>Thông tin bổ
                        sung</span>
                      <div class="children-content-status">Chưa
                        hoàn thành</div>
                    </div>
                    <div class="children-content-description">Tăng khả năng
                      xét duyệt thành công</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-bar">
            <div class="animation-screen-stack-content">
              <div class="animation-screen-stack-content" style="max-width:
                375px; transform: translateX(-187.5px);"></div>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <div class="screen screen-stack">
          <div class="screen-stack
            screen-stack-wrap">
            <div class="animation-screen-stack" style="opacity: 1;">
              <div class="animation-screen-stack-content" style="max-width:
                375px;">
                <div class="swapHeader" style="opacity: 1;">
                  <div class="header " style="background-color: rgb(4, 109,
                    181);">
                    <div class="button-back-left undefined">
                      <div class="content-back" routerLink="/thong-tin-cua-toi"><svg width="26" height="24" viewBox="0 0 26 24" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path d="M15.92
                            18L9.67998 12L15.92 6" stroke="#fff" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </svg><span class="title-back">Quay lại</span></div>
                    </div>
                    <div class="header-title " style="left: 92.375px; top:
                      16px; max-width: 222.75px;">Thông tin CMND/CCCD</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-screen-stack" style="transform:
              translateX(0px); padding-bottom: 0px; padding-top: 54px;">
              <div class="add-visa">
                <div class="text-align-center fw-600
                  fs-14">Điền đầy đủ thông tin đúng và chính xác để được
                  duyệt đơn vay nhanh chóng</div>
                <form novalidate="" class="ant-form ant-form-vertical" style="padding-top:
                  16px;" [formGroup]="addCccdForm" (ngSubmit)="addCccd()">
                  <div class="ant-form-item">
                    <div class="ant-row
                      ant-form-item-row">
                      <div class="ant-col
                        ant-form-item-label"><label for="fullName" class="ant-form-item-required"
                          title="Tên đầy đủ">Tên
                          đầy đủ</label></div>
                      <div class="ant-col
                        ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><span
                              class="ant-input-affix-wrapper input-custom"><span class="ant-input-prefix"><img
                                  src="https://vaydaiphat.com/images/3ca29664d3559fc3c96e30bf61722372-SingleUser.svg"
                                  alt="">
                              </span>
                              <input class="ant-input" placeholder="Nhập tên đầy đủ chính xác" id="fullName" type="text" value="{{name || ''}}" formControlName="name">
                            </span>
                          </div>
                        </div>
                        <div style="display: flex; flex-wrap: nowrap;" *ngIf="(addFormControl['name'].touched ||submitted) &&
                          addFormControl['name'].errors?.['required']">
                          <div class="ant-form-item-explain
                            ant-form-item-explain-connected">
                            <div role="alert" class="ant-form-item-explain-error" style="">
                              Vui lòng nhập tên đầy đủ</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ant-form-item">
                    <div class="ant-row
                      ant-form-item-row">
                      <div class="ant-col
                        ant-form-item-label"><label for="indentifier" class="ant-form-item-required" title="Số
                          CMND/CCCD">Số CMND/CCCD</label></div>
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><span
                              class="ant-input-affix-wrapper input-custom"><span class="ant-input-prefix"><svg
                                  width="20" height="20" viewBox="0 0 20 20" fill="#046DB5"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0_50_1186)">
                                    <path d="M4.58334 14.1666C5.2737 14.1666
                                      5.83334 13.607 5.83334 12.9166C5.83334
                                      12.2263 5.2737 11.6666 4.58334
                                      11.6666C3.89299 11.6666 3.33334
                                      12.2263 3.33334 12.9166C3.33334 13.607
                                      3.89299 14.1666 4.58334 14.1666Z"></path>
                                    <path d="M15.8333 2.5H4.16667C3.062 2.50132
                                      2.00296 2.94073 1.22185
                                      3.72185C0.440735 4.50296 0.00132321
                                      5.562 0 6.66667L0 13.3333C0.00132321
                                      14.438 0.440735 15.497 1.22185
                                      16.2782C2.00296 17.0593 3.062 17.4987
                                      4.16667 17.5H15.8333C16.938 17.4987
                                      17.997 17.0593 18.7782 16.2782C19.5593
                                      15.497 19.9987 14.438 20
                                      13.3333V6.66667C19.9987 5.562 19.5593
                                      4.50296 18.7782 3.72185C17.997 2.94073
                                      16.938 2.50132 15.8333 2.5ZM4.16667
                                      4.16667H15.8333C16.4964 4.16667
                                      17.1323 4.43006 17.6011 4.8989C18.0699
                                      5.36774 18.3333 6.00363 18.3333
                                      6.66667H1.66667C1.66667 6.00363
                                      1.93006 5.36774 2.3989 4.8989C2.86774
                                      4.43006 3.50363 4.16667 4.16667
                                      4.16667ZM15.8333
                                      15.8333H4.16667C3.50363 15.8333
                                      2.86774 15.5699 2.3989 15.1011C1.93006
                                      14.6323 1.66667 13.9964 1.66667
                                      13.3333V8.33333H18.3333V13.3333C18.3333
                                      13.9964 18.0699 14.6323 17.6011
                                      15.1011C17.1323 15.5699 16.4964
                                      15.8333 15.8333 15.8333Z"></path>
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_50_1186">
                                      <rect width="20" height="20" fill="white"></rect>
                                    </clipPath>
                                  </defs>
                                </svg>
                              </span>
                                <input class="ant-input" inputmode="numeric" formControlName="cccd_cmnd"
                                placeholder="Vui lòng nhập số CMND/CCCD" id="indentifier" type="text" value="{{cccd || ''}}">
                              </span>
                          </div>
                        </div>
                        <div style="display: flex; flex-wrap: nowrap;" *ngIf="(addFormControl['cccd_cmnd'].touched
                          ||submitted) &&
                          addFormControl['cccd_cmnd'].errors?.['required']">
                          <div class="ant-form-item-explain
                            ant-form-item-explain-connected">
                            <div role="alert" class="ant-form-item-explain-error" style="">
                              Vui lòng nhập số CMND/CCCD</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="primary fw-500 fs-14">Bạn phải có thẻ căn cước
                    của mình và nội dung rõ ràng và dễ đọc.</div>
                  <div class="primary fw-500 fs-14">Xin xác nhận đã bật dùng
                    quyền chụp ảnh.</div>
                  <div style="padding-top: 34px;">
                    <div class="ant-form-item">
                      <div class="ant-row
                        ant-form-item-row">
                        <div class="ant-col ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <div class="d-flex align-items-center">
                                <div>
                                  <div class="fw-500 fs-12 text-align-center" style="width: 119px; padding-right:
                                    15px;">
                                    <div>Tải ảnh mặt trước CMND/CCCD</div>
                                    <div class="button-custom ">
                                      <button for="before_cccd_cmnd" [ngStyle]="{'display': imageBf ? 'none' : '' }" type="button" class="ant-btn
                                        ant-btn-primary" style="height:
                                        40px; margin-top: 16px;" (click)="before_cccd_cmnd.click()"><img
                                          src="https://vaydaiphat.com/images/cf2728bf1ab984bf59c4e81914892d5d-upload.svg"
                                          alt="" style="padding-bottom:
                                          5px;"><span style="margin-left:
                                          4px;">Tải ảnh</span>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                <div class="img_upload_cccd"><img [src]="before || imageBf ||
                                    'https://vaydaiphat.com/images/366b509e93861c300ac8d51b60b4c10b-CCCDBefore.svg'"
                                    alt="" style="width: 100%;">
                                </div>
                              </div>
                              <input class="d-none" type="file" accept="image/*"
                                (change)="uploadBFCccd($event)" #before_cccd_cmnd>
                            </div>
                            <div style="display: flex; flex-wrap: nowrap;" *ngIf="(addFormControl['before_cccd_cmnd'].touched
                              ||submitted) &&
                              addFormControl['before_cccd_cmnd'].errors?.['required']">
                              <div class="ant-form-item-explain
                                ant-form-item-explain-connected">
                                <div role="alert" class="ant-form-item-explain-error" style="">
                                  Vui lòng tải ảnh mặt sau CMND/CCCD</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-form-item">
                      <div class="ant-row
                        ant-form-item-row">
                        <div class="ant-col
                          ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <div class="d-flex align-items-center" style="margin-top: 11px;">
                                <div>
                                  <div class="fw-500 fs-12 text-align-center" style="width: 119px; padding-right:
                                    15px;">
                                    <div>Tải ảnh mặt sau CMND/CCCD</div>
                                    <div class="button-custom ">
                                      <button type="button" [ngStyle]="{'display': imageAt ? 'none' : '' }" class="ant-btn
                                        ant-btn-primary" ant-click-animating-without-extra-node="false"
                                        style="height: 40px; margin-top:16px;" (click)="after_cccd_cmnd.click()">
                                        <img
                                          src="https://vaydaiphat.com/images/cf2728bf1ab984bf59c4e81914892d5d-upload.svg"
                                          alt="" style="padding-bottom:
                                          5px;"><span style="margin-left:
                                          4px;">Tải ảnh</span></button>
                                    </div>
                                  </div>
                                </div>
                                <div class="img_upload_cccd"><img [src]="after || imageAt ||
                                    'https://vaydaiphat.com/images/b839fd8beb0fdf2349fcc2d51d1e4a37-CCCDAfter.svg'"
                                    alt="" style="width: 100%;"></div>
                              </div><input class="d-none" type="file" accept="image/*" (change)="uploadATCccd($event)"
                                #after_cccd_cmnd>
                            </div>
                          </div>
                          <div style="display: flex; flex-wrap: nowrap;" *ngIf="(addFormControl['after_cccd_cmnd'].touched
                            ||submitted) &&
                            addFormControl['after_cccd_cmnd'].errors?.['required']">
                            <div class="ant-form-item-explain
                              ant-form-item-explain-connected">
                              <div role="alert" class="ant-form-item-explain-error" style="">
                                Vui lòng tải ảnh chụp mặt thật và cầm CMND/CCCD</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ant-form-item">
                      <div class="ant-row
                        ant-form-item-row">
                        <div class="ant-col
                          ant-form-item-control">
                          <div class="ant-form-item-control-input">
                            <div class="ant-form-item-control-input-content">
                              <div class="d-flex align-items-center" style="margin-top: 11px;">
                                <div>
                                  <div class="fw-500 fs-12 text-align-center" style="width: 119px; padding-right:
                                    15px;">
                                    <div>Tải ảnh chụp mặt thật và cầm
                                      CMND/CCCD</div>
                                    <div class="button-custom "><button [ngStyle]="{'display': imageFace ? 'none' : '' }" type="button" class="ant-btn
                                        ant-btn-primary" style="height: 40px; margin-top: 16px;"
                                        (click)="face_cccd_cmnd.click()">
                                        <img
                                          src="https://vaydaiphat.com/images/cf2728bf1ab984bf59c4e81914892d5d-upload.svg"
                                          alt="" style="padding-bottom:
                                          5px;"><span style="margin-left:
                                          4px;">Tải ảnh</span></button></div>
                                  </div>
                                </div>
                                <div class="img_upload_cccd"><img [src]="face || imageFace ||
                                    'https://vaydaiphat.com/images/e2f18bb16fe51090cfba7265b677e0da-FaceImage.svg'"
                                    alt="" style="width: 100%;"></div>
                              </div><input class="d-none" type="file" accept="image/*" (change)="uploadFace($event)"
                                #face_cccd_cmnd>
                            </div>
                          </div>
                          <div style="display: flex; flex-wrap: nowrap;" *ngIf="(addFormControl['face_cccd_cmnd'].touched
                            ||submitted) &&
                            addFormControl['face_cccd_cmnd'].errors?.['required']">
                            <div class="ant-form-item-explain
                              ant-form-item-explain-connected">
                              <div role="alert" class="ant-form-item-explain-error" style="">
                                Vui lòng tải ảnh mặt trước CMND/CCCD</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="margin-top: 32px;">
                    <div class="button-custom "><button type="submit" [disabled]="disabled" class="ant-btn ant-btn-primary"><span>Gửi
                          đi</span></button></div>
                  </div>
                </form>
              </div>
            </div>
            <div class="bottom-bar">
              <div class="animation-screen-stack-content">
                <div class="animation-screen-stack-content" style="max-width:
                  375px; transform: translateX(0px);"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
