<div id="root">
  <div class="layout undefined">
    <div class="content" style="max-width: 375px;">
      <div class="stacks stacks-body-wrap" style="opacity: 1;">
        <div class="screen screen-stack">
          <div class="screen-stack screen-stack-wrap">
            <div class="animation-screen-stack" style="opacity: 1;">
              <div class="animation-screen-stack-content" style="max-width: 375px;">
                <div class="swapHeader" style="opacity: 1;">
                  <div class="header " style="background-color: rgb(4, 109, 181);">
                    <div class="button-back-left undefined">
                      <div class="content-back" routerLink="/thong-tin-cua-toi">
                        <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M15.92 18L9.67998 12L15.92 6" stroke="#fff" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                        <span class="title-back">Quay lại</span></div>
                    </div>
                    <div class="header-title " style="left: 111.812px; top: 16px; max-width: 222.75px;">Thông tin cá
                      nhân
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-screen-stack"
                 style="transform: translateX(0px); padding-bottom: 0px; padding-top: 54px;">
              <div class="add-profile">
                <div class="text-align-center fw-600 fs-14">Điền đầy đủ thông tin đúng và chính xác để được duyệt đơn
                  vay nhanh chóng
                </div>
                <form novalidate="" class="ant-form ant-form-vertical" style="padding-top: 16px;">
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-label"><label for="literacy" class="ant-form-item-required"
                                                                      title="Trình độ học vấn">Trình độ học vấn</label>
                      </div>
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><input class="ant-input input-custom"
                                                                                  placeholder="Ví dụ: Đại học"
                                                                                  id="literacy" type="text" value="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-label"><label for="note" class="ant-form-item-required"
                                                                      title="Mục đích vay vốn">Mục đích vay vốn</label>
                      </div>
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><textarea placeholder="Nhập mục đích vay vốn"
                                                                                     id="note"
                                                                                     class="ant-input input-custom-area"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-label"><label for="isHaveHome" class="ant-form-item-required"
                                                                      title="Có nhà cửa không">Có nhà cửa không</label>
                      </div>
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content">
                            <div
                              class="ant-select ant-select-in-form-item select-custom ant-select-single ant-select-show-arrow">
                              <div class="ant-select-selector"><span class="ant-select-selection-search"><input
                                type="search" id="isHaveHome" autocomplete="off"
                                class="ant-select-selection-search-input" role="combobox" aria-haspopup="listbox"
                                aria-owns="isHaveHome_list" aria-autocomplete="list" aria-controls="isHaveHome_list"
                                aria-activedescendant="isHaveHome_list_0" readonly="" unselectable="on" value=""
                                style="opacity: 0;"></span><span class="ant-select-selection-item" title="Có">Có</span>
                              </div>
                              <span class="ant-select-arrow" unselectable="on" aria-hidden="true"
                                    style="user-select: none;"><span role="img" aria-label="down"
                                                                     class="anticon anticon-down ant-select-suffix"><svg
                                viewBox="64 64 896 896" focusable="false" data-icon="down" width="1em" height="1em"
                                fill="currentColor" aria-hidden="true"><path
                                d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path></svg></span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-label"><label for="motobikeName" class=""
                                                                      title="Có xe cộ không">Có xe cộ không</label>
                      </div>
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><input class="ant-input input-custom"
                                                                                  placeholder="Nhập tên xe cộ"
                                                                                  id="motobikeName" type="text"
                                                                                  value=""></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-label"><label for="salary" class="ant-form-item-required"
                                                                      title="Tiền lương hàng tháng">Tiền lương hàng
                        tháng</label></div>
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><input
                            class="ant-input input-custom undefined" placeholder="Nhập tiền lương hàng tháng"
                            id="salary" pattern="[0-9]*" inputmode="numeric" type="text" value=""></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-label"><label for="address" class="ant-form-item-required"
                                                                      title="Địa chỉ chi tiết">Địa chỉ chi tiết</label>
                      </div>
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><input class="ant-input input-custom"
                                                                                  placeholder="Nhập địa chỉ chi tiết"
                                                                                  id="address" type="text" value="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-label"><label for="email" class=""
                                                                      title="Email (Không bắt buộc)">Email (Không bắt
                        buộc)</label></div>
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><input class="ant-input input-custom"
                                                                                  inputmode="email"
                                                                                  placeholder="Nhập email" id="email"
                                                                                  type="text" value=""></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fs-14 fw-600 uppercase">Thông tin liên hệ của gia đình</div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-label"><label for="relationType" class="ant-form-item-required"
                                                                      title="Mối quan hệ với bạn">Mối quan hệ với
                        bạn</label></div>
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content">
                            <div
                              class="ant-select ant-select-in-form-item select-custom ant-select-single ant-select-show-arrow">
                              <div class="ant-select-selector"><span class="ant-select-selection-search"><input
                                type="search" id="relationType" autocomplete="off"
                                class="ant-select-selection-search-input" role="combobox" aria-haspopup="listbox"
                                aria-owns="relationType_list" aria-autocomplete="list" aria-controls="relationType_list"
                                aria-activedescendant="relationType_list_0" readonly="" unselectable="on" value=""
                                style="opacity: 0;"></span><span class="ant-select-selection-placeholder">Mối quan hệ với bạn</span>
                              </div>
                              <span class="ant-select-arrow" unselectable="on" aria-hidden="true"
                                    style="user-select: none;"><span role="img" aria-label="down"
                                                                     class="anticon anticon-down ant-select-suffix"><svg
                                viewBox="64 64 896 896" focusable="false" data-icon="down" width="1em" height="1em"
                                fill="currentColor" aria-hidden="true"><path
                                d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path></svg></span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-label"><label for="relationName" class="ant-form-item-required"
                                                                      title="Họ tên đầy đủ">Họ tên đầy đủ</label></div>
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><input class="ant-input input-custom"
                                                                                  placeholder="Nhập họ và tên"
                                                                                  id="relationName" type="text"
                                                                                  value=""></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-label"><label for="relationPhone" class="ant-form-item-required"
                                                                      title="Số di dộng">Số di dộng</label></div>
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><input class="ant-input input-custom"
                                                                                  inputmode="tel"
                                                                                  placeholder="Nhập số di động"
                                                                                  id="relationPhone" type="text"
                                                                                  value=""></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fs-14 fw-600 uppercase">Các liên hệ khác</div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-label"><label for="relationType1" class=""
                                                                      title="Mối quan hệ với bạn">Mối quan hệ với
                        bạn</label></div>
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content">
                            <div
                              class="ant-select ant-select-in-form-item select-custom ant-select-single ant-select-show-arrow">
                              <div class="ant-select-selector"><span class="ant-select-selection-search"><input
                                type="search" id="relationType1" autocomplete="off"
                                class="ant-select-selection-search-input" role="combobox" aria-haspopup="listbox"
                                aria-owns="relationType1_list" aria-autocomplete="list"
                                aria-controls="relationType1_list" aria-activedescendant="relationType1_list_0"
                                readonly="" unselectable="on" value="" style="opacity: 0;"></span><span
                                class="ant-select-selection-placeholder">Mối quan hệ với bạn</span></div>
                              <span class="ant-select-arrow" unselectable="on" aria-hidden="true"
                                    style="user-select: none;"><span role="img" aria-label="down"
                                                                     class="anticon anticon-down ant-select-suffix"><svg
                                viewBox="64 64 896 896" focusable="false" data-icon="down" width="1em" height="1em"
                                fill="currentColor" aria-hidden="true"><path
                                d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path></svg></span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-label"><label for="relationName1" class=""
                                                                      title="Họ tên đầy đủ">Họ tên đầy đủ</label></div>
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><input class="ant-input input-custom"
                                                                                  placeholder="Nhập họ và tên"
                                                                                  id="relationName1" type="text"
                                                                                  value=""></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-label"><label for="relationPhone1" class="" title="Số di dộng">Số
                        di dộng</label></div>
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><input class="ant-input input-custom"
                                                                                  inputmode="tel"
                                                                                  placeholder="Nhập số di động"
                                                                                  id="relationPhone1" type="text"
                                                                                  value=""></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="padding-top: 16px;">
                    <div class="button-custom ">
                      <button type="submit" class="ant-btn ant-btn-primary"><span>Gửi đi</span></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="bottom-bar">
              <div class="animation-screen-stack-content">
                <div class="animation-screen-stack-content" style="max-width: 375px; transform: translateX(0px);"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
