<div class="modal fade notification-approval" role="dialog">
  <div class="modal-dialog">
    <div class="card">
     <div class="text-right cross"> <i class="fa fa-times"></i> </div>
      <div class="card-body text-center"> <img class="img-notification" src="https://vaydaiphat.com/images/450c452726b72e140803553c99fc7387-EmptyIcon.svg">
        <input type="text" value="">
        <button class="btn btn-out btn-square continue" data-dismiss="modal" >Đồng ý</button>
      </div>
    </div>
  </div>
</div>
