<div class="center">

  <div class="chat">
    <div class="contact bar">
      <div class="pic stark"></div>
      <div class="name">
        Admin
      </div>
      <div class="seen">
        online
      </div>
    </div>
    <div class="messages" id="chat">
      <!-- <div class="time">
        Today at 11:41
      </div> -->
      <div *ngFor="let msg of messageUser"
        class="message {{user.id == msg.from_user ? 'parker' : 'stark'}} ">
        {{msg.message}}
      </div>
      <div class="message stark">
        <div class="typing typing-1"></div>
        <div class="typing typing-2"></div>
        <div class="typing typing-3"></div>
      </div>
    </div>
    <div class="input" [formGroup]="messageForm">
      <input  type="text" formControlName="message" />
      <button class="send-message" [disabled]="messageForm.invalid" (click)="handleMessage(userId)">Gửi</button>
    </div>
  </div>
</div>
