<div class="center">

  <div class="chat">
    <div class="contact bar">
      <div class="pic stark"></div>
      <div class="name">
        Tony Stark
      </div>
      <div class="seen">
        Today at 12:56
      </div>
    </div>
    <div class="messages" id="chat">
      <div class="time">
        Today at 11:41
      </div>
      <div class="message parker">
        Hey, man! What's up, Mr Stark? 👋
      </div>
      <div class="message stark">
        Kid, where'd you come from?
      </div>
      <div class="message parker">
        Field trip! 🤣
      </div>
<!--      <div class="message parker"  *ngFor="let msg of sent">-->
<!--        {{msg.message}}-->
<!--      </div>-->
      <div class="message stark" *ngFor="let msg of messageUser">
        {{msg.message}}
      </div>
      <div class="message stark">
        <div class="typing typing-1"></div>
        <div class="typing typing-2"></div>
        <div class="typing typing-3"></div>
      </div>
    </div>
    <div class="input" [formGroup]="messageForm">
      <input placeholder="Type your message here!" type="text" formControlName="message" />
      <button (click)="handleMessage()">Gửi</button>
    </div>
  </div>
</div>
